:root {
  --w: 64vw;
}

.container {
  width: var(--w);
  height: calc(var(--w) * 0.75);
  background-color: black;
  margin: 1vw;
  margin-right: 0;
  display: inline-block;
}

.controls{
  display: inline-block;
  background-color: #282828;
  width: calc(100vw - var(--w) - 5vw);
  height: calc((var(--w) * 0.75) - 2vw);
  margin: 1vw;
  position: absolute;
  padding: 1vw;
  color: white;;
}
