:root {
  --w: 780px;
  --h: 540px;
}

.container {
  width: var(--w);
  height: var(--h);
  background-color: black;
  margin: 1vw;
  margin-right: 0;
  display: inline-block;
}

.controls{
  display: inline-block;
  background-color: #282828;
  width: auto;
  height: auto;
  margin: 1vw;
  position: absolute;
  padding: 1vw;
  color: white;;
}
